.property-list {
max-height: calc(100vh - 150px);
overflow-y: auto;
text-align: center;
width: 60%;
margin-left: auto;
margin-right: auto;
}

.property-list li {
  width: 80%;
}

.collapsible-header {
  background-color: #D1D1D1 !important;
  width: 100%;
}

.collapsible-body {
  width: 100%;
}
