.custom-select {
  width: 60%;
}

.collapsible-header {
  background-color: #D1D1D1 !important;
  width: 100%;
}

.collapsible-body {
  width: 100%;
}

.course-panel {
  min-height: 140px;
  max-height: 140px;
}

@media (max-width:768px) {
  .mobile-scroll {
    display: flex;
    max-height: 100vh;
    width: calc(2*100vw);
    overflow-y: auto;
  }
}
